= form_for @hardware do |f|
  - if @hardware.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hardware.errors.count, "error")} prohibited this hardware from being saved:"
      %ul
        - @hardware.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :length
    = f.text_field :length
  .field
    = f.label :width
    = f.text_field :width
  .field
    = f.label :height
    = f.text_field :height
  .field
    = f.label :weight
    = f.text_field :weight
  .field
    = f.label :serial_number
    = f.text_field :serial_number
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :warranty_expired_on
    = f.date_select :warranty_expired_on
  .actions
    = f.submit 'Save'
