%h1 Listing hardwares

%table
  %thead
    %tr
      %th Name
      %th Length
      %th Width
      %th Height
      %th Weight
      %th Serial number
      %th Price
      %th Status
      %th Warranty expired on
      %th
      %th
      %th

  %tbody
    - @hardwares.each do |hardware|
      %tr
        %td= hardware.name
        %td= hardware.length
        %td= hardware.width
        %td= hardware.height
        %td= hardware.weight
        %td= hardware.serial_number
        %td= hardware.price
        %td= hardware.status
        %td= hardware.warranty_expired_on
        %td= link_to 'Show', hardware
        %td= link_to 'Edit', edit_hardware_path(hardware)
        %td= link_to 'Destroy', hardware, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hardware', new_hardware_path
