%p#notice= notice

%p
  %b Name:
  = @hardware.name
%p
  %b Length:
  = @hardware.length
%p
  %b Width:
  = @hardware.width
%p
  %b Height:
  = @hardware.height
%p
  %b Weight:
  = @hardware.weight
%p
  %b Serial number:
  = @hardware.serial_number
%p
  %b Price:
  = @hardware.price
%p
  %b Status:
  = @hardware.status
%p
  %b Warranty expired on:
  = @hardware.warranty_expired_on

= link_to 'Edit', edit_hardware_path(@hardware)
\|
= link_to 'Back', hardwares_path
